<header ng-switch on="$location.path().indexOf('/OrderLines/new') > -1">
    <h3 ng-switch-when="true">Create a new OrderLine</h3>
    <h3 ng-switch-when="false">View or edit OrderLine</h3>
</header>
<form id="OrderLineForm" name="OrderLineForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': OrderLineForm.article.$invalid}">
        <label for="article" class="col-sm-2 control-label">Article</label>
        <div id="articleControls" class="col-sm-10">
        <select id="article" name="article" class="form-control" ng-model="articleSelection" ng-options="a.text for a in articleSelectionList" required >
            <option value="">Choose a Article</option>
        </select>
        <span class="help-block error" ng-show="OrderLineForm.article.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': OrderLineForm.quantity.$invalid}">
        <label for="quantity" class="col-sm-2 control-label">Quantity</label>
        <div id="quantityControls" class="col-sm-10">
            <input id="quantity" name="quantity" type="number" required class="form-control" ng-model="orderLine.quantity" placeholder="Enter the OrderLine Quantity"></input>
            <span class="help-block error" ng-show="OrderLineForm.quantity.$error.required">required</span> 
            <span class="help-block error" ng-show="OrderLineForm.quantity.$error.number">not a number</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveOrderLine" name="saveOrderLine" class="btn btn-primary" ng-disabled="isClean() || OrderLineForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteOrderLine" name="deleteOrderLine" class="btn btn-danger" ng-show="orderLine.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>